*{margin: 0;padding: 0;}
.nav{position: relative;}
.selectl{width: 250px;float: left;position: absolute;background: #366e51;display: none;}
.selectl ul{height: 460px;}
.selectl ul li{width: 250px;height: 49px;padding: 0;}
.selectl ul li:hover{background: #00ba31;}
.selectl ul li img{float: left;margin-left: 25px;margin-top: 10px;}
.selectl ul li a{float: left;margin-left: 10px;color: #fff;font-size: 14px;}
.selectl ul li a:hover{color: red;text-decoration: underline;}
.selectl ul li a:hover .r{color: red;}
.selectl ul li span{float: right;margin-right: 46px;color: #fff;}
.nav ul li:nth-of-type(1):hover .selectl{display: block;}
.login{background: #f5f5f5;overflow: hidden;min-width: 1300px;}
.login img{padding-top:30px ;width: 500px;height: 500px;float: left;margin-right: 190px;}
.register{width: 608px;height: 485px;float: left;margin-top:30px;border: 1px solid #e4e4e4;box-shadow: 1px 1px 1px rgba(0,0,0,0.2),-1px -1px 1px rgba(0,0,0,0.2);}
.lo{width: 302px;padding: 1px;background: #fff;border: 1px solid #e4e4e4;height: 46px;float:left;}
.lo span{display: block;height: 46px;background: #f5f5f5;text-align: center;line-height: 48px;color: #666666;}
.re{width: 302px;background: #fff;height: 48px;float: left;border-top: 2px solid #60a411;text-align: center;color: #4e8000;line-height: 48px;}
.biaodan input{width: 240px;height: 28px;box-shadow: 3px 2px  1px #f1f1f1 inset;outline: none;margin: 10px 16px;text-indent: 5px;border: 1px solid #b4b6b7;}
.biaodan input:last-of-type{width: 120px;margin-right: 75px;}
.biaodan span{display: inline-block;width: 80px;font-size: 15px;text-align: right;}
.biaodan select{width: 230px;height: 30px;box-shadow: 2px 3px  1px #f1f1f1;outline: none;margin: 10px 11px;border: 1px solid #b4b6b7;}
.biaodan span:nth-of-type(1){margin-top: 26px;}
.biaodan em{color: #999999;font-size: 11px;font-style: normal;}
.biaodan b{font-size: 12px;margin-right: 28px;}
.biaodan a{font-size: 12px;color: blue;text-decoration: underline;}
.biaodan p{font-size: 12px;text-align: center;color: #999999;}
.btn{width: 245px;height: 36px;text-align: center;line-height: 36px;color: #ffffff;background: #4f960a ;font-size: 15px;border-radius: 3px;cursor: pointer;margin-top: 9px;margin-left: 95px;}
